{% extends "performance_dashboard/base.html" %}

{% block content%}
<div class="row">
    <div class="col-lg-12">
        <h1>{{ record.resource_id.resource }}</h1>
		<li>{{ record.resource_id.action }}</li>
		<li>{{ record.resource_id.condition }}</li>
		<li>{{ record.duration }}</li>
		<li>{{ record.is_synchronous }}</li>
		<li>{{ record.within_threshold }}</li>
		<li>{{ record.fw_version_id.fusion_release }}</li>
		<li>{{ record.fw_version_id.feature_set }}</li>
		<li>{{ record.fw_version_id.delta }}</li>
    </div>
    <!-- /.col-lg-12 -->
</div>
{% endblock %}
