{% extends "performance_dashboard/base.html" %}

{% block content%}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Enclosure Performance Trends</h1>
    </div>
    {{ debug_data }}
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Enclosure Asynchronous REST Calls
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div id="async-enclosure-chart" ></div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Enclosure Synchronous REST Calls
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div id="sync-enclosure-chart" ></div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-8 -->
    <!-- <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Chart
            </div>
            <div class="panel-body">
                
            </div> -->
            <!-- /.panel-body -->
        <!-- </div> -->
        <!-- /.panel -->
    <!-- </div> -->
    <!-- /.col-lg-4 -->
</div>
<!-- /.row -->
{% endblock %}



{% block end %}
<script type="text/javascript">Morris.Line({{async_enclosure_chart|safe}});</script>
<script type="text/javascript">Morris.Line({{sync_enclosure_chart|safe}});</script>
{% endblock %}