{% extends "performance_dashboard/base.html" %}

{% block content%}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">{{ title }} Performance Trends</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <!-- /.panel -->
        {% for chart in charts %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> {{chart.name}}
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div id="{{chart.id}}"></div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
        {% endfor %}
    </div>
</div>
<!-- /.row -->
{% endblock %}

{% block end %}
{% for chart in charts %}
<script type="text/javascript">Morris.Line({{chart.data|safe}})</script>
{% endfor %}
{% endblock %}